body {
    font-family:monospace;
    font-size:25px;
    background-color:rgba(200,210,228,0.5);
}
h1{
    font-size:50px;
    margin:0;
}
h2{
    font-size:30px;
    font-family:serif;
    margin:0;
    text-align:center ;
}
p{
    font-family:cursive;
    font-size:27px;
    background-color:black;
    color:gold;
    text-align: right;
}
a{
    margin-left:5px;
    text-align:center ;
}
